<app-nav></app-nav>

<div class="page-container">
    <div class="home-main-hero row">
        <div class="home-main-hero-left col-lg-8 col-md-6 col-sm-12">
            <h1 class="home-main-hero-heading heading-1">Hi, I'm Zach Gorr <span class="hand-emjoi">👋</span></h1>
            <p class="home-main-hero-copy copy">I'm a passionate Frontend Software Engineer specializing in crafting
                captivating user experiences across web and mobile platforms. With a solid background in designing,
                developing, and optimizing applications, I thrive on architecting efficient frontend systems that
                elevate user interaction.</p>
            <div class="home-main-more-info">
                <div class="more-info-row">
                    <i class="bi bi-geo-alt contrast"></i>
                    <p class="copy">Orlando, Florida</p>
                </div>

                <div class="more-info-row">
                    <div class="indicator-wrapper">
                        <span class="indicator-pulse"></span>
                        <span class="indicator"></span>
                    </div>
                    <p class="copy">Available for new projects</p>
                </div>


                <div class="social-links">
                    <i class="bi bi-github contrast"></i>
                    <i class="bi bi-linkedin contrast"></i>
                </div>
            </div>
        </div>

        <div class="home-main-hero-right col-lg-4 col-md-6 col-sm-12">
            <div class="headshot-warpper">
            </div>
        </div>
    </div>

    <div class="home-about-me">
        <div class="home-about-me-pill">
            <p class="copy">About me</p>
        </div>

        <div class="home-about-me-main">
            <div class="about-me-image col-lg-6">
                <img src="" alt="">
            </div>
            <div class="about-me-details col-lg-6">
                <h3 class="heading-3">Curious about me? Here you have it:</h3>
                <div class="about-me-details-copy">
                    <p class="copy">My journey in software engineering has been fueled by a deep appreciation for creating seamless digital experiences. I have a knack for leveraging JavaScript/TypeScript, HTML5, CSS3/SCSS, Angular, React, Bootstrap, and Tailwind to build responsive and intuitive interfaces. Whether it's enhancing performance or resolving scalability challenges, my goal is always to deliver products that engage and delight users.</p>
                    <p class="copy">Throughout my career, I've had the privilege of collaborating closely with Product Designers, Product Managers, and fellow Engineers, leading diverse projects through agile methodologies like Scrum. My experience in UI/UX design, using tools like Figma and Sketch, complements my technical expertise, enabling me to create cohesive and user-centric applications.</p>
                    <p class="copy">When I'm not writting code I love to spend time with my family, and enjoying all the amazing things that Orlando has to offer!</p>
                    <p class="copy">Whether you're exploring my portfolio or looking to collaborate on the next innovative project, I'm excited to connect and share my passion for frontend development and digital enchantment.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-skills">
        <div class="home-about-me-pill">
            <p class="copy">Skills</p>
        </div>
    </div>
</div>